body {
  background-color: #191a1c;
  /* Change to your preferred color */
}

.container {
  padding: 10% 2rem;
}

.custom-navbar {
  background-color: #424242;
}

.custom-navbar a {
  color: white;
}

.section-title {
  margin-top: 2rem;
}


a:hover {
  color: gray;
}

.about h {
  padding-top: 1rem;
}

#about {
  color: white;
}

.about-box {
  background-color: #555555;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #555555;
  position: relative;
  color: white;
}


.row {
  text-align: left;
}


.lead {
  color: rgb(255, 255, 255);
  font-weight: 375;
}

img {
  border-radius: 8px;
}

.icon-github-sign,
.icon-envelope,
.icon-linkedin-sign {
  font-size: 3em;
  margin: 1rem;
  color: white;
}

.icon {
  color: white;
}

.btn-light {
  font-weight: 500;
}

a[href^="#"] {
  transition: all 0.3s ease-in-out;
}

a[href^="#"]:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.bg-wrapper {
  position: relative;
}

#about::before,
#portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#about::before {
  background-image: url('/images/bg3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


#portfolio::before {
  background-image: url('/images/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#education::before,
#eperience::before {
  background-image: url('/images/bg4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-item {
  padding: 20px 0;
}

.timeline-item::before {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #555555;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-date {
  position: absolute;
  width: 100px;
  text-align: center;
  font-weight: bold;
  left: 50%;
  margin-left: -50px;
  padding: 5px 0;
  background-color: #555555;
  border-radius: 5px;
  z-index: 1;
}

.timeline-content {
  padding: 0 20px;
  margin-left: 50%;
  background-color: #555555;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
  z-index: 0;
}



#education::before,
#about::before,
#portfolio::before {
  filter: grayscale(100%);
  opacity: 0.1;
}

#portfolio {
  margin-bottom: -100px;
  color: white;

}

#experience {
  margin-bottom: -400px;
}

.section-title {
  margin-bottom: 1rem;
  color: white;
}

.experience-box,
.education-box {
  background-color: #555555;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #555555;
  position: relative;
  color: white;
}

.experience-box h3,
.education-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.experience-box h4,
.education-box h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.experience-box p,
.education-box p {
  margin-bottom: 0.5rem;
}

.experience-box::before,
.education-box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  width: 4px;
  background-color: #e6613e;
  /* Change the color as needed */
}

#experience,
#education {
  background-color: #353535;
}

.project {
  padding: 3rem;
}

.project-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #555555;
  position: relative;
  color: white;
}

.project-img {
  width: 500px;
  height: auto;
  border-radius: 8px;
  display: block;
  transition: 0.3s ease;
}

.project-img:hover {
  transform: scale(1.05);
}

.project-caption {
  text-align: center;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.699);
  color: rgb(255, 255, 255);
  padding: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.col-md-8:hover .project-caption {
  opacity: 1;
  text-align: center;
}

a.project-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 767px) {
  img {
    width: 85%;
    height: auto;
  }

}