body {
  background-color: #f1f1f1;
  /* Change to your preferred color */
}

.header-white-text {
  color: white !important;
}

.container {
  padding: 15% 5rem;
}

.row {
  text-align: left;
}


.lead {
  color: black;
  font-weight: 375;
}

img {
  border-radius: 8px;
}

.icon-github-sign,
.icon-envelope,
.icon-linkedin-sign {
  font-size: 3em;
  padding: 1rem;
}

.btn-primary {
  margin: 7.5%;
  font-weight: 700;

}

.btn-primary a {
  color: white;
}


a[href^="#"] {
  transition: all 0.3s ease-in-out;
}

a[href^="#"]:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.bg-wrapper {
  position: relative;
}

#about::before,
#portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#portfolio::before {
  background-image: url('/images/bg2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about::before,
#portfolio::before {
  filter: grayscale(100%);
  opacity: 0.1;
}

#portfolio{
margin-bottom: -300px;

}

#experience{
  margin-bottom: -400px;
}

.section-title {
  margin-bottom: 1rem;
}

.experience-box,
.education-box {
  background-color: #f8f9fa;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  position: relative;
}

.experience-box h3,
.education-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.experience-box h4,
.education-box h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.experience-box p,
.education-box p {
  margin-bottom: 0.5rem;
}

.experience-box::before,
.education-box::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  width: 4px;
  background-color: #188bff;
  /* Change the color as needed */
}

.project{
  padding: 1rem;
}

.project-img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  display: block;
  transition: 0.3s ease;
}

.project-img:hover {
  transform: scale(1.05);
}

.project-caption {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-caption h3 {
  margin-top: 0;
}

.col-md-8:hover .project-caption {
  opacity: 1;
}

a.project-link {
  color: white;
  text-decoration: none;
}

@media (max-width: 767px) {
  img {
    width: 85%;
    height: auto;
  }

}