body {
  padding-top: 5rem;
  background-color: #ffffff;
}

#gray-section {
  background-color: #f1f1f1;
}

.row{
  padding: 3rem 0rem;
  text-align: left;
}

.lead {
  color: black;
  font-weight: 375;
}

ul.icons {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.icon-github-sign,
.icon-linkedin-sign {
  font-size: 3em;
  padding: 1.3rem;
}

img {
  border-radius: 8px;
}

@media (max-width: 767px) {
  img {
    width: 85% !important;
    height: auto !important;
  }

}

.post-card {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  border: 1px solid black;

}

.section{
  padding: 700px 0;
}

a[href^="#"] {
  transition: all 0.3s ease-in-out;
}

a[href^="#"]:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}